<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<h2>Comments</h2>
<div id="comments">

  <% @post.comments.reverse.each { |comment| %>
    <%= render 'comment', :comment => comment %>
  <% } %>
</div>
<div>
  <%= form_for([@post, Comment.new], :remote => true) do |form| %>
    <p> <%= form.label :body, "New Comment" %></p>
    <%= form.text_area :body %>
    <%= form.submit "Add Comment" %>
  <% end %>
</div>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
